/* new */
.search-container {
    margin: 20px;
    text-align: center;
  }
  
  #searchInput {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  /* new */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  
  .container {
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 45px;
  }
  
  
  
  .main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  
  .appointments {
    display: flex;
    gap: 20px;
  }
  
  
  /* chỉnh sửa và thêm */
  .appointment-all {
    flex: 1;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 500px;
    max-width: 1000px;
    
  }
  
  .appointment-list{
    flex: 1;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 450px;
    overflow-y: auto;
  }
   /* đến đây */
  
  
  
  
  .appointment-item {
    padding: 20px;
    /* border-bottom: 1px solid #f0f0f0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .appointment-item:hover {
    background-color: #f9f9f9;
  }
  
  .appointment-item:last-child {
    border-bottom: none;
  }
  
  .appointment-details {
    flex: 1;
  }
  
  .appointment-title {
    font-size: x-large;
    margin-bottom: 1rem;
    color: orange;
}
  
  .appointment-time,
  .appointment-patient {
    color: #555555;
    margin-bottom: 5px;
  }
  
  .appointment-status .status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: rgb(34 197 94);
  }
  
  .appointment-status1 .status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: #6B7680;
  }
  
  .appointment-status .confirmed {
    background-color: #F0FDF4;
  }
  
  .appointment-status1 .canceled {
    background-color: #F9FAFB;
  }
  
  .appointment-number {
    text-align: center;
  }
  
  .number-label {
    font-size: 14px;
    color: #555555;
    margin-bottom: 5px;
  }
  
  .number-value {
    font-size: 20px;
    color: #333333;
  }
  
  .appointment-details-container {
    flex: 2;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .appointment-summary {
    margin-bottom: 20px;
  }
  
  .summary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .summary-status {
    display: flex;
    gap: 32rem;
  }
  
  .status-text {
    font-size: 16px;
    color: #22C55E;
  }
  
  .status-text.confirmed {
    color: #22C55E;
  }
  
  .status-text1 {
    font-size: 16px;
    color: #6B7680;
  }
  
  .status-text1.failed {
    color: #6B7680;
  }
  
  .summary-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #f0f0f0;
    padding-top: 10px;
    margin-top: 10px;
  }
  
  .clinic-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .clinic-details {
    flex: 1;
    padding: 0 20px;
  }
  
  .clinic-name {
    font-size: larger;
    color: #333333;
    margin-bottom: 5px;
    font-weight: 600;
  }
  
  .clinic-address {
    color: #555555;
    font-size: small;
  }
  
  
  .appointment-info,
  .patient-info,
  .result-info {
    margin-bottom: 20px;
  }
  
  .info-title {
    font-size: larger;
    color: #333333;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .info-item {
    display: flex;
    gap: 30px;
    margin-bottom: 5px;
  }
  
  .item-label {
    color: #555555;
  }
  
  .item-value {
    color: #333333;
  }
  
  .info-value{
    font-weight: 600;
    color: #58636d;
  }
  
  .action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }
  
  .cancel-button {
    color: #FFA500;
    text-decoration: none;
    transition: color 0.3s;
    background-color: white;
  }
  
  .cancel-button:hover {
    text-decoration: underline;
  }
  