@model DentalClinicBooking_Project.Models.ViewModels.Dentist.Confirmation.DisplayBookingInformation

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PatientRegistersSchedule</title>
    <link href="~/css/dentist/appointmentconfirmation/appointment.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

    <script src="~/js/dentist/appointmentconfirmation/appointment.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="patientRegistersSchedule.js"></script>
</head>

<body>
    <div class="container-md" style="margin-top: 2rem;">
        <div class="main-content">
            <h1 style="margin-bottom: 3rem;">Xác nhận đặt khám</h1>
            @using (Html.BeginForm("ShowAppointmentConfirmation", "Confirmation", FormMethod.Get, new { id = "confirmationForm" }))
            {
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Nhập mã" id="inputCode" name="code">
                    <div class="input-group-append">
                        <button class="confirmbutton" type="submit" id="btnConfirm">Xác nhận</button>
                    </div>
                </div>
                <div class="error-message" id="errorMessage" style="color: red; display: none;">Mã của phiếu khám không hợp lệ!</div>
            }

            @if (!string.IsNullOrEmpty(Model.PatientName))
            {
                <div id="appointmentInfo" class="sidebar-info">
                    <div class="appointment-info">
                        <h4 class="info-title">Thông tin đặt khám</h4>
                        <div class="info-item">
                            <span class="info-label">Mã phiếu khám</span>
                            <span class="info-value">@Model?.Code</span>
                        </div>
                        <div class="info-item">
                            <span class="info-label">Ngày khám</span>
                            <span class="info-value">@Model?.Date</span>
                        </div>
                        <div class="info-item">
                            <span class="info-label">Giờ khám dự kiến</span>
                            <span class="info-value time" style="color: #22C55E;">
                                @Model?.SlotOfClinics?.StartTime.ToString("HH:mm")
                                - @Model?.SlotOfClinics?.EndTime.ToString("HH:mm")
                                <span class="time-period">(Buổi chiều)</span>
                            </span>
                        </div>
                        <div class="info-item">
                            <span class="info-label">Chi nhánh</span>
                            <span class="info-value">@Model?.BasicName</span>
                        </div>
                        <div class="info-item">
                            <span class="info-label">Địa chỉ đặt khám</span>
                            <span class="info-value">@Model?.BasicAddress</span>
                        </div>
                    </div>
                    <div class="patient-info">
                        <h4 class="info-title">Thông tin bệnh nhân</h4>
                        <div class="info-item">
                            <span class="info-label">Họ và tên</span>
                            <span class="info-value">@Model?.PatientName</span>
                        </div>
                        <div class="info-item">
                            <span class="info-label">Năm sinh</span>
                            <span class="info-value">@Model?.BirthDate</span>
                        </div>
                        <div class="info-item">
                            <span class="info-label">Giới tính</span>
                            <span class="info-value">@Model?.Gender</span>
                        </div>
                        <div class="info-item">
                            <span class="info-label">Địa chỉ</span>
                            <span class="info-value">@Model?.PatientAddress</span>
                        </div>
                        <div class="info-item">
                            <span class="info-label">Trạng thái</span>
                            <span class="info-value">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                                     style="margin-bottom: 4px; margin-right: 5px;">
                                    <path d="M10.75 2.45007C11.45 1.86007 12.58 1.86007 13.26 2.45007L14.84 3.80007C15.14 4.05007 15.71 4.26007 16.11 4.26007H17.81C18.87 4.26007 19.74 5.13007 19.74 6.19007V7.89007C19.74 8.29007 19.95 8.85007 20.2 9.15007L21.55 10.7301C22.14 11.4301 22.14 12.5601 21.55 13.2401L20.2 14.8201C19.95 15.1201 19.74 15.6801 19.74 16.0801V17.7801C19.74 18.8401 18.87 19.7101 17.81 19.7101H16.11C15.71 19.7101 15.15 19.9201 14.85 20.1701L13.27 21.5201C12.57 22.1101 11.44 22.1101 10.76 21.5201L9.18001 20.1701C8.88001 19.9201 8.31 19.7101 7.92 19.7101H6.17C5.11 19.7101 4.24 18.8401 4.24 17.7801V16.0701C4.24 15.6801 4.04 15.1101 3.79 14.8201L2.44 13.2301C1.86 12.5401 1.86 11.4201 2.44 10.7301L3.79 9.14007C4.04 8.84007 4.24 8.28007 4.24 7.89007V6.20007C4.24 5.14007 5.11 4.27007 6.17 4.27007H7.9C8.3 4.27007 8.86 4.06007 9.16 3.81007L10.75 2.45007Z"
                                          stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M12 8.12988V12.9599" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M11.9945 16H12.0035" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>Chưa khám
                            </span>
                        </div>
                    </div>
                </div>

                <div class="button-group" id="buttonGroup">
                    <form method="post"
                          asp-area=""
                          asp-controller="Confirmation"
                          asp-action="ShowAppointmentConfirmation"
                          asp-route-id="@Model?.Id">
                        <button href="#" class="btn btn-primary" style="margin-right: 0.5rem;" type="submit">Xác nhận</button>
                        @*                     <button href="#" class="btn btn-secondary" type="button">Hủy</button>
                    *@
                    </form>
                </div>
            }
            else
            {
                <div style="color: red;">@ViewBag.Message</div>
            }
        </div>
    </div>
</body>
</html>