@using DentalClinicBooking_Project.Models.Domain
@using Newtonsoft.Json

@inject IHttpContextAccessor HttpContextAccessor
@{
	string accountString = HttpContextAccessor.HttpContext.Session.GetString("account");
	// var account = JsonConvert.DeserializeObject<Account>(accountString);
	var account = !string.IsNullOrEmpty(accountString) ? JsonConvert.DeserializeObject<Account>(accountString) : null;
	string patientString = HttpContextAccessor.HttpContext.Session.GetString("patient");
	// var account = JsonConvert.DeserializeObject<Account>(accountString);
	var patient = !string.IsNullOrEmpty(patientString) ? JsonConvert.DeserializeObject<Patient>(patientString) : null;
	string ownerString = HttpContextAccessor.HttpContext.Session.GetString("owner");
	// var account = JsonConvert.DeserializeObject<Account>(accountString);
	var owner = !string.IsNullOrEmpty(ownerString) ? JsonConvert.DeserializeObject<Owner>(ownerString) : null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link href="~/css/header+footer/hf.css" rel="stylesheet" />
	<link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
	<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>
</head>

<!-- NavBar -->
<header class="row navbar" id="navbar_id" style="margin-right:0px">
	<div class="navbar-brand" style="margin-left:16px">
		<a asp-area="" asp-controller="Home" asp-action="HomePage"><img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/447893264_1021972442656184_4043330415758757619_n.png?_nc_cat=109&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeFcd2BENlfYNkd4LCIysQ1DfbxKM85a27d9vEozzlrbty9rn_ynFsp8hjOmFZz73Ps4BeEExi1k01N7zuB3jOLR&_nc_ohc=9nWBJeHV-WUQ7kNvgHeZY0K&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QFVswz1ZYq6MQ-kizmEdENZIJob6pt1YgHF-72Es1_h9A&oe=66A1CBF1" alt="SunShine Logo"></a>
	</div>
	<nav class="navbar navbar-expand-md">
		<div class="navbar-menu">
			<ul class="navbar-nav">
				@if (account != null && account.RoleId == 3)
				{
					<li class="nav-item"> <a asp-area="" asp-controller="Clinic" asp-action="AddClinic" class="nav-link">Thêm phòng khám</a></li>
					<li class="nav-item"> <a asp-area="" asp-controller="Dentist" asp-action="ChooseClinicForAddDentist" class="nav-link">Thêm nha sĩ</a> </li>
					<li class="nav-item">
						<div class="dropdown">
							<button class="dropbtn">
								Thông tin <i class="fa fa-chevron-down"></i>
							</button>
							<div class="dropdown-content">
								<a asp-area="" asp-controller="Clinic" asp-action="ShowAllClinicForOwner" >Phòng khám</a>
								<a asp-area="" asp-controller="Dentist" asp-action="ShowDentistForOwner">Nha sĩ</a>
							</div>
						</div>
					</li>
				}
				else
				{

					@* <li class="nav-item"><a asp-area="" asp-controller="HashPassword" asp-action="HashPassword" class="nav-link">Mã hóa</a></li> *@
					<li class="nav-item"><a asp-area="" asp-controller="BookClinic" asp-action="AllClinics" class="nav-link">Đặt khám</a></li>
					<li class="nav-item"><a asp-area="" asp-controller="ViewAppointmentSchedule" asp-action="DisplayAppointmentSchedule" class="nav-link">Xem lịch khám</a></li>
					<li class="nav-item"><a asp-area="" asp-controller="Dentist" asp-action="ShowAllDentist" asp-route-page="1" class="nav-link">Nha sĩ</a></li>
					<li class="nav-item"><a asp-area="" asp-controller="Service" asp-action="Service" class="nav-link">Dịch vụ</a></li>

				}
			</ul>
		</div>
	</nav>

	@if (account == null)
	{
		<div class="fomart-btLogin">
			<a asp-area="" asp-controller="Login" asp-action="Login" class="btn">Đăng nhập</a>
		</div>
	}
	else
	{
		<div class="contact-container">
			<div class="contact-group">
				<div class="contact-button">
					<svg class="contact-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
						<path fill="currentColor" d="M258.9 48C141.92 46.42 46.42 141.92 48 258.9c1.56 112.19 92.91 203.54 205.1 205.1 117 1.6 212.48-93.9 210.88-210.88C462.44 140.91 371.09 49.56 258.9 48zm126.42 327.25a4 4 0 01-6.14-.32 124.27 124.27 0 00-32.35-29.59C321.37 329 289.11 320 256 320s-65.37 9-90.83 25.34a124.24 124.24 0 00-32.35 29.58 4 4 0 01-6.14.32A175.32 175.32 0 0180 259c-1.63-97.31 78.22-178.76 175.57-179S432 158.81 432 256a175.32 175.32 0 01-46.68 119.25z"></path>
						<path fill="currentColor" d="M256 144c-19.72 0-37.55 7.39-50.22 20.82s-19 32-17.57 51.93C191.11 256 221.52 288 256 288s64.83-32 67.79-71.24c1.48-19.74-4.8-38.14-17.68-51.82C293.39 151.44 275.59 144 256 144z"></path>
					</svg>
					<span class="contact-number md:block">+84904576501</span>
					<div class="dropdown-toggle"></div>
				</div>
				<ul class="dropdown-menu">
					@if(account!=null && account.RoleId == 2)
					{
						<li><a class="dropdown-link" asp-area="" asp-controller="Patient" asp-action="ShowProfile" asp-route-id="@patient.PatientId">Hồ sơ</a></li>

					}
					<li><a class="dropdown-link logout" asp-area="" asp-controller="Login" asp-action="Logout">Thoát</a></li>
				</ul>
			</div>
		</div>
	}
</header>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		const contactButton = document.querySelector('.contact-button');
		const dropdownMenu = document.querySelector('.dropdown-menu');
		let timer;

		contactButton.addEventListener('mouseenter', function () {
			clearTimeout(timer);  // Xóa timer nếu đã được thiết lập
			dropdownMenu.style.display = 'block';
		});

		contactButton.addEventListener('mouseleave', function () {
			// Thiết lập một timer để ẩn menu sau 500ms
			timer = setTimeout(() => {
				dropdownMenu.style.display = 'none';
			}, 500);
		});

		dropdownMenu.addEventListener('mouseenter', function () {
			clearTimeout(timer);  // Xóa timer khi người dùng di chuột vào menu
		});

		dropdownMenu.addEventListener('mouseleave', function () {
			// Ẩn menu ngay khi di chuột ra
			dropdownMenu.style.display = 'none';
		});
	});
</script>


<body>
	@RenderBody()
	@RenderSection("Scripts", required: false)
</body>



<!-- Footer -->
<footer class="footer1">
	<div class="container-md">
		<div class="footer-direction">
			<div class="col-md-3 footer-section">
				<h5 style="font-size: 17px">CÔNG TY SunShine VIỆT NAM</h5>
				<p><b>VPĐD</b>: FPT University, Campus HCM, Q.9, TP. HCM</p>
				<p><b>Hotline:</b> 0000-0000 (8:30 - 20:30 từ T2 đến T7)</p>
				<p>Chịu trách nhiệm nội dung: Biên soạn Huỳnh Trọng Nghĩa.</p>
			</div>
			<div class="col-md-3 footer-section">
				<h5>Về SunShine</h5>
				<p>Giới thiệu về SunShine Ban điều hành</p>
				<p>Nhân sự & Tuyển dụng</p>
				<p>Liên hệ</p>
			</div>
			<div class="col-md-3 footer-section">
				<h5>Dịch vụ</h5>
				<p>Đặt khám nha sĩ</p>
				<p>Đặt khám theo ca</p>
				<p>SunShine Store</p>
			</div>
			<div class="col-md-3 footer-section">
				<h5>Hỗ trợ</h5>
				<p>Điều Khoản Sử Dụng</p>
				<p>Chính Sách Bảo Mật</p>
				<p>Chính sách giải quyết khiếu nại</p>
				<p>Hỗ trợ khách hàng: cskh@sunshine.vn</p>
			</div>
		</div>
	</div>
</footer>

</html>