<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PatientRegistersSchedule</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="patientRegistersSchedule.js"></script> 
</head>


<body>
  <div class="container-md" style="margin-top: 2rem;">
    <div class="main-content">
      <h1 style="margin-bottom: 3rem;">Đăng ký khám định kỳ</h1>
      <!-- Input for code -->
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nhập mã" id="inputCode">
        <div class="input-group-append">
          <button class="confirmbutton" type="button" id="btnConfirm">Xác nhận</button>
        </div>
      </div>
      <div id="error-message" style="color: red; display: none; margin-top: 10px;">Vui lòng nhập đủ 6 ký tự</div>
      <!-- Sidebar moved inside main-content -->
      <div class="sidebar-info" style="display: none;">
        <div class="sidebar-header">
          <div class="sidebar-title">Thông tin đặt khám</div>
        </div>
        <div class="sidebar-details">
          <div class="clinic-info">
            <img src="https://youmed.vn/photos/6b69fe19-023e-481e-909f-cdc83a45ede4.png"
              alt="Phòng khám Hello Doctor" class="clinic-avatar">
            <div class="clinic-text">
              <p class="clinic-name">Phòng khám Hello Doctor</p>
            </div>
          </div>
          <div class="info-item">
            <div class="info-label">Cơ sở</div>
            <div class="info-value">Chi nhánh 1</div>
          </div>
          <div class="info-item">
            <div class="info-label">Địa chỉ đặt khám</div>
            <div class="info-value">152/6 Thành Thái, P. 12, Q. 10, TP.HCM</div>
          </div>
          <div class="info-item">
            <div class="info-label">Ngày Khám</div>
            <div class="info-value">20/10/2023</div>
          </div>
          <div class="info-item">
            <div class="info-label">Giờ Khám</div>
            <div class="info-value">09:00-11:00</div>
          </div>
          <div class="info-item">
            <div class="info-label">Dịch vụ</div>
            <div class="info-value">Trám răng</div>
          </div>
        </div>
      </div>
      <!-- Thêm nút Đặt lịch và Hủy -->
      <div class="button-group">
        <button href="#" class="btn btn-primary" style="margin-right: 0.5rem;" type="button">Đặt lịch</button>
        <button href="#" class="btn btn-secondary" type="button">Hủy</button>
      </div>
    </div>
  </div>
</body>



</html>