@model List<DentalClinicBooking_Project.Models.Domain.Clinic>
@{
	Layout = "~/Views/Shared/_Layout1.cshtml";
}
<title>Quản lý phòng khám</title>
<link href="~/css/admin/css/clinicconfirm.css" rel="stylesheet" />
<div class="container">
	<div class="page-inner">
		<div class="page-header">
			<ul class="breadcrumbs mb-3">
				<li class="nav-home">
					<a asp-area="" asp-controller="Admin" asp-action="Home">
						<img src="https://w7.pngwing.com/pngs/396/146/png-transparent-computer-icons-homepage-angle-logo-desktop-wallpaper-thumbnail.png" alt="Remove Icon" style="width:30px; height:30px; margin-bottom: 3px;">
						<i class="icon-home"></i>
					</a>
				</li>
				<li class="separator">
					<img src="https://d29fhpw069ctt2.cloudfront.net/icon/image/39093/preview.png" alt="Remove Icon" style="width:15px; height:15px;">
					<i class="icon-arrow-right"></i>
				</li>
				<li class="nav-item">
					<a href="" style="font-size: large;">Phòng khám</a>
				</li>
			</ul>
		</div>

		<div id="content-accounts" class="content-section">
			<h2>XÁC NHẬN PHÒNG KHÁM</h2>
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Tên</th>
						<th>Trạng thái</th>
						<th>Hành động</th>
					</tr>
				</thead>
				<tbody id="account-list">
					@foreach (var item in Model)
					{
						@if (item.Status == false)
						{
							<tr>
								<td>@item.ClinicId</td>
								<td style="max-width: 150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@item.ClinicName</td>

								<td>Chưa xét duyệt</td>
								<td>
									<div class="form-button-action">
										@* <a data-bs-toggle="tooltip" class="btn" data-original-title="Remove" data-dismiss="modal"
								asp-area=""
								asp-controller="Admin"
								asp-action="Home"
								asp-route-id="@item.ClinicId">
								<img src="https://png.pngtree.com/png-vector/20230910/ourmid/pngtree-3d-tick-sign-icon-png-image_9225323.png" alt="Remove Icon" style="width:30px; height:30px;">
								<i class="fa fa-times"></i>
								</a>   *@
										<form method="post" asp-action="Home" asp-controller="Admin">
											<input type="hidden" name="id" value="@item.ClinicId" />
											<a href="#" class="btn" onclick="this.closest('form').submit(); return false;">
												<img src="https://png.pngtree.com/png-vector/20230910/ourmid/pngtree-3d-tick-sign-icon-png-image_9225323.png" alt="Remove Icon" style="width:30px; height:30px;">
												<i class="fa fa-times"></i>
											</a>
										</form>

										<button type="button" data-bs-toggle="tooltip" title="Edit Task" class="btn-link" data-original-title="Edit Task">
											<img src="https://e7.pngegg.com/pngimages/324/861/png-clipart-x-signage-computer-icons-encapsulated-postscript-wrong-miscellaneous-angle-thumbnail.png" alt="Edit Icon" style="width:20px; height:20px;">
											<i class="fa fa-edit"></i>
										</button>
									</div>
								</td>
							</tr>

							<script>
								$(document).ready(function () {
									// Sử dụng event delegation cho các nút được thêm vào động
									$(document).on('click', '.btn-link', function (event) {
										event.preventDefault();
										$('#confirmModal').modal('show');
									});

									$('#closeModal').on('click', function () {
										$('#confirmModal').modal('hide');
									});

									$('#confirmAction').on('click', function (event) {
										console.log('Hành động đã được xác nhận');
										$('#confirmModal').modal('hide');
									});

								});
							</script>

							<!-- Modal -->
							<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog"
								 aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 20rem;">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											@*                                                     <h5 class="modal-title" id="exampleModalLabel">Xác nhận hành động</h5>
									*@
										</div>
										<div class="modal-body">
											Bạn có chắc chắn muốn thực hiện hành động này không?
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
													id="closeModal">
												Đóng
											</button>
											@*  <button type="button" class="btn btn-danger" id="confirmAction">
									Xác nhận
									</button> *@
											@using (Html.BeginForm("Delete", "Admin", FormMethod.Post, new { id = item.ClinicId }))
											{
												<button type="submit" class="btn btn-danger">Xác nhận</button>
											}
										</div>
									</div>
								</div>
							</div>
						}

					}
				</tbody>
			</table>
		</div>
	</div>
</div>
