@model DentalClinicBooking_Project.Models.ViewModels.AdminViewModels.UpdateAccountVM
@{
	Layout = "~/Views/Shared/_Layout1.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
	<div>
		<div class="background"></div>
		<div class="container" style="margin-top: 50px; margin-bottom:50px">
			<div id="basic-form-container" class="form-container">
				<div style="display: flex; justify-content: space-between">
					<h2 style="margin-bottom: 20px">Update Account</h2>
				</div>
				<div id="additional-basic-forms">
					<!-- <div class="toggle-icon" onclick="toggleForm(this)">
					  &#9660;

					</div> -->
					<div class="basic-form" style="height: 100%">
						<form class="form-basic" asp-area="" asp-controller="Admin" asp-action="UpdateAccountByAdmin" method="post">
							<div class="form-group">
								<label for="AccountId">AccountId:</label>
								<input type="text"
									   readonly
									   class="form-control"
									   id="AccountId"
									   placeholder=""
									   asp-for="AccountId" />
							</div>
							<div class="form-group">
								<label for="edit-workplace-name">Tên đăng nhập:</label>
								<input type="text"
									   class="form-control"
									   id="edit-workplace-name"
									   placeholder="Nhập tên đăng nhập"
									   asp-for="UserName" />
							</div>
							<div class="form-group">
								<label for="edit-workplace-address">Gmail:</label>
								<input type="email"
									   class="form-control"
									   id="edit-workplace-address"
									   placeholder="Nhập gmail"
									   asp-for="Gmail" />
							</div>
							<div class="form-group">
								<label for="edit-phone-address">Mật khẩu:</label>
								<input type="text"
									   class="form-control"
									   id="edit-workplace-address"
									   placeholder="Nhập mật khẩu"
									   asp-for="Password" />
							</div>
							<div class="form-group">
								<label for="RoleId">RoleId:</label>
								<input type="text"
									   readonly
									   class="form-control"
									   id="RoleId"
									   placeholder=""
									   asp-for="RoleId" />
							</div>
							<div>
								<button type="submit" class="btn btn-primary">
									Lưu
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
