<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="homePage.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<header class="row navbar" style="margin-right: 0px;">
    <div class="col-md-2 navbar-brand">
      <img src="https://cdn.youmed.vn/wp-content/themes/youmed/images/logo.svg" alt="YouMed Logo">
    </div>
    <nav class="navbar navbar-expand-md">
      <div class="navbar-menu">
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Đặt khám
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-left: 100%;width: 300%;">
              <div class="dropdown-container" style="text-align: center;">
                <a class="dropdown-item" href="#" style="margin-right: 1rem;padding-left: 0px;padding-right: 2.3rem;">Đặt khám phòng khám</a>
                <a>Đặt lịch khám không chờ đợi</a>
              </div>
              <div class="dropdown-container" style="text-align: center;">
                <a class="dropdown-item" href="#" style="margin-right: 1rem;padding-left: 0px;padding-right: 5.5rem;">Đặt khám bác sĩ</a>
                <a style="padding-left: 1.6rem;">Đa dạng chuyên khoa và dịch vụ</a>
              </div>
            </div>
  
          </li> -->
          <li class="nav-item"><a href="#" class="nav-link">Đặt khám</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Xem lịch khám</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Nha sĩ</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Dịch vụ</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Liên hệ</a></li>
        </ul>
      </div>
    </nav>
    <div class="col-md-2 navbar-login">
      <div class="fomart-btLogin"> <a href="/dat-kham/login?returnUrl=https://youmed.vn" class="btn">Đăng nhập</a></div>
    </div>
  </header>

<body>
    <section id="main-search" class="relative overflow-hidden ">
        <div class="relative z-20 max-w-7xl mx-auto px-4 py-16 lg:px-6 md:min-h-[520px] flex flex-col justify-center">
          <div>
            <div class="absolute z-0 bottom-0 right-0 typex"><img width="676" height="520"
                src="https://cdn.youmed.vn/wp-content/themes/youmed/images/your-medical-booking.webp" alt="YouMed"
                class="opacity-40 lg:opacity-100 block entered lazyloaded"
                data-lazy-src="https://cdn.youmed.vn/wp-content/themes/youmed/images/your-medical-booking.webp"
                data-ll-status="loaded"><noscript><img width="676" height="520"
                  src="https://cdn.youmed.vn/wp-content/themes/youmed/images/your-medical-booking.webp" alt="YouMed"
                  class="opacity-40 lg:opacity-100 block"></noscript></div>
          </div>
          <div class="Search-in">
            <div class="Search information" style="text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px">
              <h1 class="text-white text-xl md:text-4xl">Ứng dụng đặt khám</h1>
              <p class="text-white1 text-sm md:text-lg mt-2 mb-0">
                Đặt khám với hơn 600 bác sĩ, 25 bệnh viện, 100 phòng khám trên
                YouMed <br />để có số thứ tự và khung giờ khám trước.
              </p>
            </div>
    
    
            <form method="GET" action="https://youmed.vn/dat-kham/search" class="search-form">
              <div class="search-bar">
                <input name="q" type="search" placeholder="Triệu chứng, bác sĩ, bệnh viện..." class="Search" />
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                  viewBox="0 0 16 16">
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
              </div>
            </form>
          </div>
        </div>
        </div>
      </section>

      <div class="container-md">
        <div class="introBookClinic">
          <h2>Đặt lịch khám trực tuyến</h2>
          <p style="text-align: center; white-space: nowrap; display: flex; justify-content: center;">
            Tìm Bác sĩ chính xác - Đặt lịch khám dễ dàng</p>
        </div>
      </div>

      <section id="booking-clinics" class="bg-white">
        <div class="container-md">
            <div class="intro">
                <h2 class="intro-heading">Đặt khám phòng khám</h2>
                <p class="intro-paragraph">Đa dạng phòng khám với nhiều chuyên khoa khác nhau như Sản - Nhi, Tai Mũi họng, Da Liễu, Tiêu Hoá...</p>
            </div>
            <div class="clinic-list-wrapper">
            <div class="clinic-list">
                <!-- Clinic items go here -->
                <a href="#" class="clinic-item">
                    <div class="clinic-info">
                        <div class="imgClinic">
                        <img src="https://cdn.youmed.vn/photos/cc099fec-bf59-4ec6-a222-1fc862d4f430.jpg?width=100&amp;aspect_ratio=1:1" alt="Phòng khám Sản Phụ Khoa 13 Cao Thắng">
                        </div>
                        <h3>Phòng khám Sản Phụ Khoa 13 Cao Thắng</h3>
                        <h4>13 Cao Thắng, P.5, Q.3, TP.HCM</h4>
                    </div>
                </a>
                <a href="#" class="clinic-item">
                    <div class="clinic-info">
                        <div class="imgClinic">
                        <img src="https://cdn.youmed.vn/photos/cc099fec-bf59-4ec6-a222-1fc862d4f430.jpg?width=100&amp;aspect_ratio=1:1" alt="Phòng khám Sản Phụ Khoa 13 Cao Thắng">
                        </div>
                        <h3>Phòng khám Sản Phụ Khoa 13 Cao Thắng</h3>
                        <h4>13 Cao Thắng, P.5, Q.3, TP.HCM</h4>
                    </div>
                </a>
                <a href="#" class="clinic-item">
                    <div class="clinic-info">
                        <div class="imgClinic">
                        <img src="https://cdn.youmed.vn/photos/cc099fec-bf59-4ec6-a222-1fc862d4f430.jpg?width=100&amp;aspect_ratio=1:1" alt="Phòng khám Sản Phụ Khoa 13 Cao Thắng">
                        </div>
                        <h3>Phòng khám Sản Phụ Khoa 13 Cao Thắng</h3>
                        <h4>13 Cao Thắng, P.5, Q.3, TP.HCM</h4>
                    </div>
                </a>
                <a href="#" class="clinic-item">
                    <div class="clinic-info">
                        <div class="imgClinic">
                        <img src="https://cdn.youmed.vn/photos/cc099fec-bf59-4ec6-a222-1fc862d4f430.jpg?width=100&amp;aspect_ratio=1:1" alt="Phòng khám Sản Phụ Khoa 13 Cao Thắng">
                        </div>
                        <h3>Phòng khám Sản Phụ Khoa 13 Cao Thắng</h3>
                        <h4>13 Cao Thắng, P.5, Q.3, TP.HCM</h4>
                    </div>
                </a>
                <a href="#" class="clinic-item">
                    <div class="clinic-info">
                        <div class="imgClinic">
                        <img src="https://cdn.youmed.vn/photos/cc099fec-bf59-4ec6-a222-1fc862d4f430.jpg?width=100&amp;aspect_ratio=1:1" alt="Phòng khám Sản Phụ Khoa 13 Cao Thắng">
                        </div>
                        <h3>Phòng khám Sản Phụ Khoa 13 Cao Thắng</h3>
                        <h4>13 Cao Thắng, P.5, Q.3, TP.HCM</h4>
                    </div>
                </a>
            </div>
            </div>
        </div>
      </section>

      <div class="container-md">
        <div class="intro">
            <h2 class="intro-heading" style="margin-top: 3rem;">Đội ngũ chuyên gia</h2>
        </div>
        <div class="profile-section" style="margin-top: 2rem;">
            <div class="info">
                <div class="description">
                    <p style="text-align: justify;">
                        Hội đồng tham vấn y khoa cùng đội ngũ biên tập viên là các bác sĩ, dược sĩ đảm bảo nội dung chúng tôi cung cấp chính xác về mặt y khoa và cập nhật những thông tin mới nhất.
                    </p>
                    <a href="#" class="link" style="display: flex; text-align: center; justify-content: center;">
                        <p style="margin-bottom: 0 ; margin-right: 0;">Đội ngũ chuyên gia</p>
                        <svg width="10" height="10" viewBox="0 0 10 10" aria-hidden="true" class="arrow-icon">
                            <g fill-rule="evenodd">
                                <path stroke-width="2" stroke="currentColor" fill="none" d="M0 5h8" class="arrow-path"></path>
                                <path stroke-width="2" stroke="currentColor" fill="none" d="M1 1l4 4-4 4" class="arrow-head"></path>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="list">
                <a href="https://youmed.vn/tin-tuc/bac-si/thac-si-bac-si-nguyen-hong-van-khanh/" class="item">
                    <div class="photo">
                        <img src="https://cdn1.youmed.vn/tin-tuc/wp-content/uploads/2022/06/thac-si-bac-si-nguyen-hong-van-khanh.jpg?width=140&amp;aspect_ratio=1:1" alt="ThS.BS Nguyễn Hồng Vân Khánh">
                    </div>
                    <div class="details">
                        <h4>ThS.BS Nguyễn Hồng Vân Khánh</h4>
                        <p>Gan mật tụy - Ghép gan, Nhi</p>
                    </div>
                </a>
                <a href="https://youmed.vn/tin-tuc/bac-si/thac-si-bac-si-dinh-thi-lan-phuong/" class="item">
                    <div class="photo">
                        <img src="https://cdn1.youmed.vn/tin-tuc/wp-content/uploads/2021/10/ThS.BS-Dinh-Thi-Lan-Phuong-e1634182944376-1.jpg?width=140&amp;aspect_ratio=1:1" alt="ThS.BS Đinh Thị Lan Phương">
                    </div>
                    <div class="details">
                        <h4>ThS.BS Đinh Thị Lan Phương</h4>
                        <p>Tai - Mũi - Họng</p>
                    </div>
                </a>
                <a href="https://youmed.vn/tin-tuc/bac-si/bac-si-vu-thanh-do/" class="item">
                    <div class="photo">
                        <img src="https://cdn1.youmed.vn/tin-tuc/wp-content/uploads/2019/11/bac-si-vu-thanh-do.jpg?width=140&amp;aspect_ratio=1:1" alt="ThS.BS Vũ Thành Đô">
                    </div>
                    <div class="details">
                        <h4>ThS.BS Vũ Thành Đô</h4>
                        <p>Tim - Thận - Khớp - Nội tiết</p>
                    </div>
                </a>
                <a href="https://youmed.vn/tin-tuc/bac-si/thac-si-bac-si-noi-tru-phan-le-nam/" class="item">
                    <div class="photo">
                        <img src="https://cdn1.youmed.vn/tin-tuc/wp-content/uploads/2021/12/267636163_171685651818403_5100084637370954109_n.jpg?width=140&amp;aspect_ratio=1:1" alt="ThS.BS Phan Lê Nam">
                    </div>
                    <div class="details">
                        <h4>ThS.BS Phan Lê Nam</h4>
                        <p>Sản phụ khoa</p>
                    </div>
                </a>
                <a href="https://youmed.vn/tin-tuc/bac-si/duoc-si-duong-anh-hoang/" class="item">
                    <div class="photo">
                        <img src="https://cdn.youmed.vn/tin-tuc/wp-content/uploads/2021/02/duong-anh-hoang-300x300.jpg?width=140&amp;aspect_ratio=1:1" alt="Dược sĩ Dương Anh Hoàng">
                    </div>
                    <div class="details">
                        <h4>Dược sĩ Dương Anh Hoàng</h4>
                        <p>Dược</p>
                    </div>
                </a>
                <a href="https://youmed.vn/tin-tuc/bac-si/bac-si-nguyen-trung-nghia/" class="item">
                    <div class="photo">
                        <img src="https://cdn1.youmed.vn/tin-tuc/wp-content/uploads/2019/09/bac-si-nguyen-trung-nghia.jpg?width=140&amp;aspect_ratio=1:1" alt="ThS.BS Nguyễn Trung Nghĩa">
                    </div>
                    <div class="details">
                        <h4>ThS.BS Nguyễn Trung Nghĩa</h4>
                        <p>Tâm thần</p>
                    </div>
                </a>
            </div>
        </div>
      </div>

</body>


<!-- Footer -->
<footer class="footer1">
    <div class="container-md">
      <div class="footer-direction">
        <div class="col-md-3 footer-section">
          <h5 style="font-size: 17px">CÔNG TY TNHH SunShine VIỆT NAM</h5>
          <p><b>VPĐD</b>: FPT University, Campus HCM, Q.9, TP. HCM</p>
          <p><b>Hotline:</b> 0000-0000 (8:30 - 20:30 từ T2 đến T7)</p>
          <p>Chịu trách nhiệm nội dung: Biên soạn Huỳnh Trọng Nghĩa.</p>
        </div>
        <div class="col-md-3 footer-section">
          <h5>Về SunShine</h5>
          <p>Giới thiệu về SunShine Ban điều hành</p>
          <p>Nhân sự & Tuyển dụng</p>
          <p>Liên hệ</p>
        </div>
        <div class="col-md-3 footer-section">
          <h5>Dịch vụ</h5>
          <p>Đặt khám nha sĩ</p>
          <p>Đặt khám theo ca</p>
          <p>SunShine Store</p>
        </div>
        <div class="col-md-3 footer-section">
          <h5>Hỗ trợ</h5>
          <p>Điều Khoản Sử Dụng</p>
          <p>Chính Sách Bảo Mật</p>
          <p>Chính sách giải quyết khiếu nại</p>
          <p>Hỗ trợ khách hàng: cskh@sunshine.vn</p>
        </div>
      </div>
    </div>
  </footer>
</html>