<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông Tin Chi Tiết</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- <script src="viewSchedule.js"></script> -->
</head>
<body>
    <div class="container" style="max-width: 800px;">
        <h1>Phòng khám Hello Doctor</h1>
        <div class="info">
            <div class="appointment-info">
                <h2 class="info-title">Thông tin đặt khám</h2>
                <div class="profile">
                    <div class="avatar">
                        <div class="initials">HTN</div>
                    </div>
                    <div class="info">
                        <h3>HTN</h3>
                        <p>Mã BN: YMP241815721</p>
                    </div>
                </div>
                <div class="info-item">
                    <span class="info-label">Họ và tên: </span>
                    <span class="info-value">Huỳnh Trọng Nghĩa</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Năm sinh: </span>
                    <span class="info-value">01/05/2003</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Giới tính: </span>
                    <span class="info-value">Nam</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Địa chỉ: </span>
                    <span class="info-value">1412</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Ngày khám: </span>
                    <span class="info-value">30/06/2024</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Giờ khám dự kiến: </span>
                    <span class="info-value time" style="color: #22C55E;">14:00 <span
                            class="time-period">(Buổi
                            chiều)</span></span>
                </div>
                <div class="info-item">
                    <span class="info-label">Chi nhánh: </span>
                    <span class="info-value">Chi nhánh 3 - Địa chỉ 2</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Địa chỉ đặt khám: </span>
                    <span class="info-value">152/6 Thành Thái, P. 12, Q. 10, TP.HCM</span>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button class="confirm">Quay lại</button>
        </div>
    </div>
</body>
</html>
