@model DentalClinicBooking_Project.Models.ViewModels.Dentist.UpdateDentistVM
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	<link href="~/css/dentist/updatedentist.css" rel="stylesheet" />
	<link href="node_modules/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="node_modules/froala-editor/js/froala_editor.pkgd.min.js"></script>

</head>
<body>
	<div class="background"></div>
	<div class="container" style="margin-top: 50px">
		<div id="edit-dentist-form" class="form-container edit-form">
			<form asp-area="" asp-controller="Dentist" asp-action="UpdateDentist"
				  id="register-info-form"
				  method="post">
				<h2 style="margin-bottom: 30px;">Cập nhật Nha Sĩ</h2>
				<div class="form-group">
					<label for="id">ID:</label>
					<input readonly
						   class="form-control"
						   id="id"
						   placeholder=""
						   asp-for="DentistId" />
				</div>
				<div class="form-group">
					<label for="username">UserName:</label>
					<input type="text"
						   class="form-control"
						   id="gmail"
						   placeholder="Nhập userName"
						   asp-for="UserName" />
				</div>
				<div class="form-group">
					<label for="gmail">Gmail:</label>
					<input type="gmail"
						   class="form-control"
						   id="gmail"
						   placeholder="Nhập gmail"
						   asp-for="Gmail" />
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="text"
						   class="form-control"
						   id="password"
						   placeholder="Nhập password"
						   asp-for="Password" />
				</div>
				<div class="form-group">
					<label for="dentist-name">Tên Nha Sĩ:</label>
					<input type="text"
						   class="form-control"
						   id="dentist-name"
						   placeholder="Nhập tên nha sĩ"
						   asp-for="DentistName" />
				</div>
				<div class="form-group">
					<label for="dentist-image">Ảnh:</label>
					<input type="text"
						   class="form-control"
						   id="dentist-image"
						   placeholder="URL"
						   asp-for="Image" />
				</div>
				<div class="form-group">
					<label for="edit-dentist-experience">Kinh Nghiệm:</label>
					<input type="text"
						   class="form-control"
						   id="edit-dentist-experience"
						   placeholder="Nhập số năm kinh nghiệm"
						   asp-for="Experience" />
				</div>
				<div class="form-group">
					<label class="label-fo" for="basicID">Cơ sở:</label>
					@* <input type="text" readonly
					class="form-control"
					id="basicID"
					placeholder="BasicID" asp-for="BasicId" /> *@
					<select class="form-control" asp-for="BasicId">
						@foreach (var basic in Model.basics)
						{
							<option value="@basic.BasicId">@basic.BasicName</option>
						}
					</select>
				</div>
				<div class="form-group">
					<label @* for="edit-dentist-description" *@>Mô Tả:</label>
					<textarea class="form-control"
							  id="edit-dentist-description"
							  rows="3"
							  placeholder="Nhập mô tả"
							  asp-for="Description"></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Lưu thay đổi</button>
			</form>
		</div>
	</div>
</body>
@section Scripts {
	<script>
		var editor = new FroalaEditor('#edit-dentist-description');
	</script>
}
</html>
