<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ViewDoctorSchedule</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="viewDoctorSchedule.js"></script> 
</head>



<body style="background-color: #F1F5F9;">
  <div class="container-md main-content">
    <div class="container-md">
      <h1 style="margin: 3rem 0;">Thông Tin và Lịch Khám Bác Sĩ</h1>
    </div>
    <div class="container-md">
      <div class="row " style="margin-bottom: 5rem;">
        <div class="col-md-6 doctor-info">

          <img src="https://cdn.youmed.vn/tin-tuc/wp-content/uploads/2023/09/ThS-BS-Nguyen-Thi-Thanh-Loan.jpg"
            class="imgdoctor" alt="Bác sĩ Nguyễn Thị Thanh Loan">
          <div class="info">
            <p class="p1"><img class="img1"
                src="https://cdn1.iconfinder.com/data/icons/freeline/32/account_friend_human_man_member_person_profile_user_users-512.png"
                alt="Icon"><strong>Họ và tên: </strong> Nguyễn Thị Thanh Loan</p>
            <p class="p1"><img class="img1"
                src="https://img.freepik.com/premium-vector/gender-symbols-male-female-line-icons-black-elements-isolated-white-background_822686-267.jpg"
                alt="Icon"><strong>Giới tính: </strong> Nữ</p>
            <p class="p1"><img class="img1"
                src="https://t3.ftcdn.net/jpg/05/31/63/40/360_F_531634013_g3RxTenXj3nptD2yVIE9oKhpmLZIwsPq.jpg"
                alt="Icon"><strong>Phone: </strong> 0365379339</p>
            <p class="p1"><img class="img1" src="https://cdn-icons-png.freepik.com/512/1313/1313686.png"
                alt="Icon"><strong>Email: </strong> nguyenthithanhloan02@gmail.com</p>
          </div>
        </div>
        <div class="col-md-6 schedule">
          <form action="/submit-your-form-handler" method="POST" s>
            <input type="date" id="date" name="date" required onchange="updateSchedule()">
            <p class="selectedDate"><span id="displayDate"></span></p>
            
          </form>

          <div class="row scheduleslot">
            <div class="col-md-6 morning-slots">
              <div class="day">Buổi sáng</div>
              <div class="appointment-slot">7:00 - 7:45</div>
              <div class="appointment-slot">8:00 - 8:45</div>
              <div class="appointment-slot">9:00 - 9:45</div>
            </div>
            <div class="col-md-6 afternoon-slots">
              <div class="day">Buổi chiều</div>
              <div class="appointment-slot">13:00 - 13:45</div>
              <div class="appointment-slot">14:00 - 14:45</div>
              <div class="appointment-slot">15:00 - 15:45</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>