/* thanh nav */
.breadcrumbs {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

    .breadcrumbs .nav-home,
    .breadcrumbs .separator,
    .breadcrumbs .nav-item {
        display: flex;
        align-items: center;
    }

        .breadcrumbs .nav-home img,
        .breadcrumbs .separator img,
        .breadcrumbs .nav-item a {
            vertical-align: middle;
        }

        .breadcrumbs .nav-item a {
            font-size: large;
            margin-left: 5px;
        }
