@* 
@{

}

<h1>Đã mã hóa toàn bộ password trong database thành công.</h1>
<h2>Đồ chơi nguy hiểm, chỉ được dùng 1 lần, chỉ được sử dụng bởi TrầnMinhPhúc</h2>
<h2>Không được phép xóa HashPasswordController và HashPassword.cshtml</h2>
 *@