<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <!-- <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./../cssForAllPage/style.css" /> -->
    <!-- <link rel="stylesheet" href="./../HF/style.css" /> -->
  </head>
  <body>
    <!-- <header class="row navbar">
      <div class="col-md-2 navbar-brand" style="z-index: 9999">
        <img
          src="https://cdn.youmed.vn/wp-content/themes/youmed/images/logo.svg"
          alt="YouMed Logo"
        />
      </div>
      <nav class="navbar navbar-expand-md">
        <div class="navbar-menu">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#" class="nav-link">Thêm phòng khám</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Thêm nha sĩ</a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <button class="dropbtn">
                  Thông tin <i class="fa fa-chevron-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#">Phòng khám</a>
                  <a href="./../dentist/index.html">Nha sĩ</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div class="navbar-login">
        <a href="./../loginPage/index.html" class="btn">Đăng nhập</a>
      </div>
    </header> -->
    <div class="background"></div>
    <div class="container">
      <h1>Danh sách Bác sĩ</h1>
      <div class="doctors-list">
        <div class="doctor" onclick="showDetails(this)">
          <div class="image-container">
            <img
              src="https://cdn.tuoitre.vn/thumb_w/480/2021/7/30/bs-phung-16276352494101117208235-1627637885130908378938.png"
              alt="Doctor 1"
            />
          </div>
          <h2>Dr. Nguyễn Văn A</h2>
          <div class="doctor-info" style="display: none">
            <span class="doctor-email">nguyenvana@example.com</span>
            <span class="doctor-password">password123</span>
            <span class="doctor-experience">10 years</span>
            <span class="doctor-description">Chuyên khoa nội tổng hợp</span>
          </div>
        </div>
        <div class="doctor" onclick="showDetails(this)">
          <div class="image-container">
            <img
              src="https://cdn.tuoitre.vn/thumb_w/480/2021/7/30/bs-phung-16276352494101117208235-1627637885130908378938.png"
              alt="Doctor 1"
            />
          </div>
          <h2>Dr. Nguyễn Văn A</h2>
          <div class="doctor-info" style="display: none">
            <span class="doctor-email">nguyenvana@example.com</span>
            <span class="doctor-password">password123</span>
            <span class="doctor-experience">10 years</span>
            <span class="doctor-description">Chuyên khoa nội tổng hợp</span>
          </div>
        </div>
        <div id="doctor-details" class="doctor-details" hidden>
          <div>
            <h2 id="detail-name"></h2>
            <span class="close" onclick="closeDetails()">&times;</span>
          </div>

          <div id="detail-img-container">
            <img id="detail-img" src="" alt="" />
            <i id="camera-icon" class="fas fa-camera" onclick="openModal()"></i>
          </div>
          <form id="myForm">
            <label for="name">Tên:</label>
            <input type="text" id="name" name="name" />

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" />

            <label for="password">Mật khẩu:</label>
            <input type="password" id="password" name="password" />

            <label for="knl_viec">Kinh nghiệm làm việc:</label>
            <input type="text" id="knl_viec" name="knl_viec" />

            <label for="description">Mô tả:</label>
            <textarea id="description" name="description" rows="4"></textarea>

            <input
              type="button"
              value="Cập nhật"
              class="updateBtn"
              onclick="update()"
            />
          </form>
          <!-- <div style="text-align: center">
            <button onclick="closeDetails()">Đóng</button>
          </div> -->
        </div>
      </div>
      <div id="urlModal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="closeModal()">&times;</span>
          <label for="new-image-url"
            ><strong>Nhập URL hình ảnh mới:</strong></label
          >
          <input
            style="border: solid 1px"
            type="text"
            id="new-image-url"
            name="new-image-url"
          />
          <button onclick="updateImage()">Cập nhật ảnh</button>
        </div>
      </div>
    </div>
    <!-- <footer class="footer1">
      <div class="container-md">
        <div class="footer-direction">
          <div class="col-md-3 footer-section">
            <h5 style="font-size: 17px">CÔNG TY TNHH SunShine VIỆT NAM</h5>
            <p><b>VPĐD</b>: FPT University, Campus HCM, Q.9, TP. HCM</p>
            <p><b>Hotline:</b> 0000-0000 (8:30 - 20:30 từ T2 đến T7)</p>
            <p>Chịu trách nhiệm nội dung: Biên soạn Huỳnh Trọng Nghĩa.</p>
          </div>
          <div class="col-md-3 footer-section">
            <h5>Về SunShine</h5>
            <p>Giới thiệu về SunShine Ban điều hành</p>
            <p>Nhân sự & Tuyển dụng</p>
            <p>Liên hệ</p>
          </div>
          <div class="col-md-3 footer-section">
            <h5>Dịch vụ</h5>
            <p>Đặt khám nha sĩ</p>
            <p>Đặt khám theo ca</p>
            <p>SunShine Store</p>
          </div>
          <div class="col-md-3 footer-section">
            <h5>Hỗ trợ</h5>
            <p>Điều Khoản Sử Dụng</p>
            <p>Chính Sách Bảo Mật</p>
            <p>Chính sách giải quyết khiếu nại</p>
            <p>Hỗ trợ khách hàng: cskh@sunshine.vn</p>
          </div>
        </div>
      </div>
    </footer> -->
    <script src="./script.js"></script>
  </body>
</html>
