<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Quản lý phòng khám</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container-md">
    <div class="background"></div>
    <h1 class="page-title">Quản lí phòng khám</h1>
  </div>

  <div class="container-md">
    <div class="clinic" style="display: flex;flex-direction: row;">
      <div class="clinic-info col-md-6">
        <span class="clinic-id">ID: 001</span>
        <h2 class="clinic-name">Phòng khám A</h2>
        <p class="clinic-address"><strong>Địa chỉ:</strong> 123 Đường ABC, Quận XYZ</p>
        <p class="clinic-phone"><strong>Điện thoại:</strong> 0123 456 789</p>
        <p class="clinic-url-address"><strong>Website:</strong> <a
            href="https://www.phongkhamA.com">www.phongkhamA.com</a></p>
        <div class="clinic-actions">
          <button class="btn-edit" onclick="toggleBlur()">Chỉnh sửa</button>
          <button class="btn-delete">Xóa</button>
        </div>
      </div>
      <div class="col-md-6">
        <img class="imgClinic "
          src="https://impeccabuild.com.au/wp-content/uploads/2020/07/Medical-Clinic-Interior-Design-Ideas-Medical-Fitouts-ImpeccaBuild-3-scaled.jpg"
          style="width: 90%; height: 90%; border-radius: 10%; margin-top: 3rem; padding-right: 1rem;">
      </div>
    </div>
  </div>

  <div class="container-md">
    <div class="clinic" style="display: flex;flex-direction: row;">
      <div class="clinic-info col-md-6">
        <span class="clinic-id">ID: 001</span>
        <h2 class="clinic-name">Phòng khám A</h2>
        <p class="clinic-address"><strong>Địa chỉ:</strong> 123 Đường ABC, Quận XYZ</p>
        <p class="clinic-phone"><strong>Điện thoại:</strong> 0123 456 789</p>
        <p class="clinic-url-address"><strong>Website:</strong> <a
            href="https://www.phongkhamA.com">www.phongkhamA.com</a></p>
        <div class="clinic-actions">
          <button class="btn-edit">Chỉnh sửa</button>
          <button class="btn-delete">Xóa</button>
        </div>
      </div>
      <div class="col-md-6">
        <img class="imgClinic "
          src="https://www.korusgroup.com/wp-content/uploads/2023/02/private-clinic-design-build-aspect-ratio-1440-810-1024x576.jpg"
          style="width: 454px; height: 292px; border-radius: 10%; margin-top: 3rem; padding-right: 1rem;">
      </div>
    </div>
  </div>
</html>

