<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChangeCustomerInformation</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link href="~/css/patient/changepatientinfo.css" rel="stylesheet" />
</head>


<body style="background-color: #F1F5F9;">
    <div class="container" style="width: 50%;">
        <div class="Title" style="text-align: center; margin-top: 2rem; ">
            <h1>Thông tin người dùng</h1>
        </div>

        <form novalidate="" class="registration-form">
          <div class="form-section">
            <label for="name" class="label-required">Họ và tên</label>
            <input formcontrolname="name" type="text" placeholder="Họ và tên" class="input-text">
          </div>
          <div class="form-section">
            <label for="phone" class="label-required">Số điện thoại</label>
            <input formcontrolname="phone" type="text" placeholder="Số điện thoại" inputmode="numeric" pattern="[0-9]*" class="input-text">
          </div>
          <div class="form-section">
            <label for="birthDay" class="label-required">Ngày sinh</label>
            <input id="birthDay" formcontrolname="birthDay" type="date" placeholder="Ngày tháng năm sinh" class="input-text date-picker">
          </div>
          <div class="form-section">
            <label for="gender" class="label-required">Giới tính</label>
            <div class="radio-group">
              <label class="radio-option">
                <input type="radio" name="gender" value="MALE"> Nam
              </label>
              <label class="radio-option">
                <input type="radio" name="gender" value="FEMALE"> Nữ
              </label>
            </div>
          </div>
          <div class="form-section">
            <label for="address" class="label">Địa chỉ cụ thể</label>
            <input formcontrolname="address" type="text" placeholder="Số nhà, tên đường" class="input-text">
          </div>
          <div class="form-section grid-cols-2">
            <div>
              <label for="nationalId" class="label">Số CMND/CCCD</label>
              <input formcontrolname="nationalId" type="text" placeholder="Số CMND hoặc CCCD" inputmode="numeric" pattern="[0-9]*" class="input-text">
            </div>
            <div>
              <label for="ethnicGroupId" class="label">Dân tộc</label>
              <input formcontrolname="ethnicGroupId" type="text" placeholder="Nhập dân tộc" class="input-text">
            </div>
          </div>
          <div class="form-section">
            <label for="patientJobId" class="label">Nghề nghiệp</label>
            <input formcontrolname="patientJobId" type="text" placeholder="Nhập nghề nghiệp" class="input-text">
          </div>
          <div class="form-section">
            <label for="hiCardCode" class="label">Mã thẻ BHYT</label>
            <input formcontrolname="hiCardCode" type="text" placeholder="Mã số trên thẻ Bảo hiểm y tế" class="input-text">
          </div>
          <div class="form-section">
            <label for="email" class="label">Email</label>
            <input formcontrolname="email" type="email" placeholder="Địa chỉ email của bạn" class="input-text">
          </div>
          <div class="form-actions">
            <button class="btn-cancel">Hủy</button>
            <button class="btn-primary">Xác nhận</button>
          </div>
        </form>
    </div>
</body>

</html>