@model DentalClinicBooking_Project.Models.Domain.Patient
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ChangeCustomerInformation</title>
	<link rel="stylesheet" href="ChangeInformation.css" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/css/patient/changepatientinfo.css" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body style="background-color: #F1F5F9;">
	<div class="container" style="width: 50%;">
		<div class="Title" style="text-align: center; margin-top: 2rem;">
			<h1>Thông tin người dùng</h1>
		</div>

		<form asp-area="" asp-controller="Patient" asp-action="ChangeInformation" method="post" novalidate class="registration-form">
			<input type="hidden" asp-for="PatientId" />
			<div class="form-section">
				<label for="name" class="label-required">Họ và tên</label>
				<input type="text" placeholder="Họ và tên" class="input-text" asp-for="PatientName" />
			</div>
			<div class="form-section">
				<label for="phone" class="label-required">Số điện thoại</label>
				<input type="text" placeholder="Số điện thoại" inputmode="numeric" pattern="[0-9]*" class="input-text" asp-for="Phone" />
			</div>
			<div class="form-section">
				<label for="birthDay" class="label-required">Ngày sinh</label>
				<input type="date" placeholder="Ngày tháng năm sinh" class="input-text date-picker" asp-for="BirthDay" />
			</div>
			<div class="form-section">
				<label for="g-group" class="label-required">Giới tính</label>
				<div class="radio-group">
					<label class="radio-option">
						<input type="radio" asp-for="Gender" value="true"> Nam
					</label>
					<label class="radio-option">
						<input type="radio" asp-for="Gender" value="false"> Nữ
					</label>
				</div>
			</div>
			<div class="form-section">
				<label for="address" class="label-required">Địa chỉ cụ thể</label>
				<input type="text" placeholder="Số nhà, tên đường" class="input-text" asp-for="Address" />
			</div>
			<div class="form-section grid-cols-2">
				<div>
					<label for="citizenIdentificationCard" class="label">Số CMND/CCCD</label>
					<input type="text" placeholder="Số CMND hoặc CCCD" inputmode="numeric" pattern="[0-9]*" class="input-text" asp-for="CitizenIdentificationCard" />
				</div>
				<div>
					<label for="nation" class="label">Dân tộc</label>
					<input type="text" placeholder="Nhập dân tộc" class="input-text" asp-for="Nation" />
				</div>
			</div>
			<div class="form-section">
				<label for="job" class="label">Nghề nghiệp</label>
				<input type="text" placeholder="Nhập nghề nghiệp" class="input-text" asp-for="Job" />
			</div>
			<div class="form-section">
				<label for="healthInsuranceCardCode" class="label">Mã thẻ BHYT</label>
				<input type="text" placeholder="Mã số trên thẻ Bảo hiểm y tế" class="input-text" asp-for="HealthInsuranceCardCode" />
			</div>
			<div class="form-actions">
				<button type="button" class="btn-cancel">Hủy</button>
				<button type="submit" class="btn-primary">Xác nhận</button>
			</div>
		</form>
	</div>
</body>

</html>