@model DentalClinicBooking_Project.Models.ViewModels.PatientViewModel.ResetPassword
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
          rel="stylesheet" />
    <link href="~/css/login/login.css" rel="stylesheet" />
</head>
<body>
    <div class="background"></div>
    <div class="container mx-auto mt-8">
        <div class="flex flex-col md:flex-row items-center justify-center space-x-0 md:space-x-60">
            <div class="w-full md:w-1/3 mb-8 md:mb-0"
                 style="width: 550px; height: 450px">
                <img style="border-radius: 50px; height: 100%; width: 100%"
                     src="https://alonadecor.com/wp-content/uploads/2017/09/alona41-1024x576.jpg"
                     alt="Ảnh phòng khám"
                     class="w-full rounded-md shadow-md" />
            </div>
            <div class="form-container" style="margin-left: 150px">
                @if (TempData["Fail"] != null)
                {
                    <div class="alert alert-danger">@TempData["Fail"]</div>
                }
                <form id="login-form" asp-area="" asp-controller="Patient" asp-action="ForgotPassword" method="post">
                    <div class="title">Khôi phục mật khẩu</div>
                    <div class="des">Nhập Gmail và UserName để khôi phục mật khẩu</div>
                    <div class="group">
                        <span>👤</span>
                        <input type="text" id="username" placeholder="UserName" asp-for="UserName" />
                    </div>
                    <div class="group">
                        <span style="margin-left:2px">
                            <ion-icon name="mail-outline" style="margin-left:2px"></ion-icon>
                        </span>
                        <input type="email"
                               id="gmail"
                               placeholder="Gmail" asp-for="Gmail"/>
                    </div>
                    <div class="signIn">
                        <button style="submit">Xác nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="./script.js"></script>

</body>
</html>



