<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>viewEmptySchedule</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>


<body>
    <div class="container">
        <div class="main-content">
            <div class="appointment-all">
                <div class="search-container">
                    <input type="text" placeholder="Tìm kiếm cuộc hẹn..." id="searchInput">
                </div>
                <div class="custom-empty-state1">
                    <img src="https://payme.vn/web/images/error.png" width="120" height="90" class="imgempty"/>
                    <p class="ant-empty-description">Không tìm thấy kết quả!</p>
                </div>
            </div>
            <div class="details-display">
                <div class="custom-empty-state2">
                    <img src="https://payme.vn/web/images/error.png" width="120" height="90"  class="imgempty"/>
                    <p class="ant-empty-description">Không tìm thấy kết quả!</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>