body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  
  .page-title {
    font-size: 32px;
    color: #333;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 6rem;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-transform: uppercase;
  }
  
  .clinic {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transition: box-shadow 0.3s ease;
  
  }
  
  .clinic:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .clinic-info {
    flex: 1;
    padding-right: 20px;
    overflow: auto;
    padding-left: 2rem;
    /* Thêm thanh cuộn khi nội dung vượt quá kích thước */
  }
  
  .clinic-id {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    padding-bottom: 2rem;
  }
  
  .clinic-name {
    font-size: 24px;
    color: #333;
    margin-top: 3rem;
  }
  
  .clinic-address,
  .clinic-phone,
  .clinic-url-address {
    margin-bottom: 6px;
    color: #313030;
    font-size: larger;
  }
  
  .clinic-address strong,
  .clinic-phone strong,
  .clinic-url-address strong {
    margin-right: 6px;
  }
  
  
  .clinic-url a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .clinic-url a:hover {
    color: #0056b3;
  }
  
  .clinic-actions {
    margin-top: 6rem;
    margin-bottom: 3rem;
  }
  
  .btn-edit,
  .btn-delete {
    padding: 20px 30px;
    font-size: large;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .btn-edit:hover,
  .btn-delete:hover {
    background-color: #0056b3;
  }
  
  .edit-form {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .edit-form input {
    width: calc(100% - 20px);
    margin: 10px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .edit-form button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .edit-form button.btn-cancel {
    background-color: #303031;
    margin-left: 10px;
  }
  
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-dental-beauty-oral-health-background-image_195889.jpg");
    /* Đường dẫn đến hình ảnh của bạn */
    background-size: contain;
    background-position: center;
    filter: blur(10px);
    /* Độ mờ của hình nền */
    z-index: -1;
    /* Đảm bảo hình nền nằm phía sau nội dung chính */
  }
  
  /* chỉnh form thứ 2 */
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .form-group strong {
    flex: 2;
    font-weight: bold;
    font-size: large;
  }
  
  .form-group input {
    padding: 5px;
    font-size: 1rem;
    width: 500px;
  }
  
  
  /* làm mờ phía sau */
  .clinic-blur {
    filter: blur(5px);
    /* Áp dụng hiệu ứng làm mờ */
  }
  
  h1 {
    margin-top: 0px;
    margin-bottom: 3rem;
  }
  
  .container-md {
    max-width: 1000px;
    /* Đặt chiều rộng tối đa cho container */
    margin: 0 auto;
    /* Canh giữa container */
    padding: 0 15px;
    /* Thêm padding để tạo khoảng cách với nội dung bên trong */
  }
  
  
  
  .clinic {
    display: flex;
  }
  
  .clinic-info {
    flex: 1;
  }
  
  .imgClinic {
    flex: 1;
    border-radius: 10%;
  }